* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    display: block;
    padding: 10px;
    color: white;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rm 1rm;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 150px;
    top: 67px;

}

aside img {
    width: 250px;
    height: auto;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1 solid #000;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}